* {
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	font-family : Arial;
}

input[type=file] {
    display : none;
}

.container {
    width : 1200px;    
}

.user-interaction-div {
    clear : both;
    text-align : center;
    display : flex;
    justify-content : center;
}

.student-selection {
    clear: both;
    margin: 15px 0px 0px 0px;
}

.student-creation-inner, .csv-update-inner, .show-all-students-inner {
    height: 300px;
    width : 33%;
    display:flex;
    flex-direction : column;
    justify-content: center;
    text-align: center;
    align-items:center;
    float: left;    
}

.insert-item, .insert-item-submit, .csv-update-item, .csv-update-item-submit, .data-display-buttons button, .show-all-students-button {
    display :block;
    width : 200px;
    height : 30px;
    font-weight: 900;
    margin: 5px;
}

.file-label {
    text-align : center;
    border: 1px solid;
    font-weight: 900;
    margin: 5px;
    font-size: 13px;
    padding: 5px 40px;
}

.file-label:hover {
    border : 1px solid skyblue;
    padding : 5px 40px;
    cursor : pointer;
}

.insert-item-submit, .csv-update-item-submit, .data-display-buttons button, .show-all-students-button {
    border : none;
    background-color: black;
    color: white;
    height : 40px;
    margin: 10px 5px;
    text-transform: uppercase;
    -webkit-transition: background-color 0.25s, color 0.25s;
}

.insert-item-submit:hover, .csv-update-item-submit:hover, .data-display-buttons button:hover, .show-all-students-button:hover {
    background-color: white;
    color: black;
    border: 1px solid;
    cursor: pointer;
}

.student-csv-data, .student-data, .student-data-header {
    width : 100%;
    clear: both;
}

.student-csv-data-item {
    float : left;
    width : 20%;
    padding : 15px 0px;
    text-align : center;
    background-color : black;
    color : white;
    font-size: 18;
    font-weight : bold;
    letter-spacing : 2;
}

.student-predictions {
    width : 100%;
    clear : both;
    font-weight : bold;
    font-style : italic;
}

.student-pred-data-item, .student-data-item, .student-data-header-item {
    color : black;
    background-color : white;
    text-decoration : none;
    float : left;
    width : 20%;
    height : 30px;
    display : flex;
    flex-direction : column;
    justify-content : center;
    text-align : center;
    align-items : center;
}

.student-data-item, .student-data-header-item {
    width : 25%;
}

.student-data-header-item {
    font-weight : bold;
    font-size : 18px;
    margin: 0px 0px 15px 0px;
}

.data-display {
    clear : both;
    text-align : center;
    display : flex;
    justify-content : center;
}

.data-display-buttons div {
    display : inline-block;
    margin : 20px 0px;
}

.data-display-buttons button {
    display : none;
    margin : 20px;
}